body {
    margin: 0;
    padding: 0;
    background: url('../img/404.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; /* Para que el GIF se ajuste dentro del contenedor */
    width: 80%; /* Ajusta según necesidad */
    height: 200px; /* Espacio para la animación */
}

.gif {
    width: 80px; /* Ajusta el tamaño */
    position: absolute;
    animation: move 3s linear forwards;
}

@keyframes move {
    0% { left: 0; }
    100% { left: 100%; } /* Mueve el GIF de izquierda a derecha */
}
